<div class="container d-flex align-items-center justify-content-center">
  <div class="d-flex card p-5 justify-content-center flex-column">
    <p><em>Ask a question to your coach:</em></p>
    <form action="/answer" method="get">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>